<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475056129600-ljqbcgeqh30q24mj33n7l8gbl6rvh8jd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475056129600-ljqbcgeqh30q24mj33n7l8gbl6rvh8jd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>475056129600-sesppip36pk3lc5u1kn7ehhdb1jve09p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0KKfzQ9xgunre_zGbTJsOQcS67PZQ61M</string>
	<key>GCM_SENDER_ID</key>
	<string>475056129600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStructure</string>
	<key>PROJECT_ID</key>
	<string>flutter-notifications-24a7f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notifications-24a7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475056129600:ios:6bd3733deedd20ae</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-notifications-24a7f.firebaseio.com</string>
</dict>
</plist>